*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100vw;
	height: 100vh;
	background-color: black;
}
#volver{
	font-size: 0.7rem;
}
#x{
	display: block;
	height: fit-content;
	width: fit-content;
	position: absolute;
	top: 0.2%;
	right: 1%;
	text-decoration: none;
	color: red;
	font-size: 2rem;
}
#contador{
	display: block;
	width: fit-content;
	margin: auto;
	margin-top: 20%;
}
#evita{
	width: 100%;
}
#enlace{
	width: 50%;
	height: 7%;
	position: absolute;
	font-size: 2.1rem;
	display: block;
	top: 53%;
	left: 15%;
}
#email{
	position: relative;
	width: 70%;
	aspect-ratio: 1.85/1;
	border: 2px solid black;
	margin: auto;
	background-image: url("imagenes/email_falso.png");
	background-size: contain;
}